{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ayihawu Art website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">DevFolio</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <img class="logo" src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/home">Home</a></li>
          <li><a class="nav-link scrollto " href="/biography">Biography</a></li>
          <li><a class="nav-link scrollto active" href="/gallery">Gallery</a></li>
          <li><a class="nav-link scrollto " href="/exhibitions">Exhibitions</a></li>
          <li><a class="nav-link scrollto " href="/publications">Publications</a></li>
          <!-- <li><a class="nav-link scrollto " href="/prints">Prints</a></li> -->
          <li><a class="nav-link scrollto " href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <div class="hero hero-single route bg-image" style="background-image: url({{ section.image_description.url }})">
    <div class="overlay-mf overlay-mf-light"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="hero-title mb-3">Gallery: {{ section }}</h2>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= Blog Single Section ======= -->
    <section class="blog-wrapper sect-pt4" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="post-box">
              {% for category, artworks in categories.items %}
              <div class="article-content">
                <h1 class="article-title"> {{ category }} </h1>
                <p> {{ category.description }} </p>
                 <!-- ======= works Details Section ======= -->
                <section id="portfolio-details" class="portfolio-details">
                  <div class="container" style="width: 100%;">


                    <div class="portfolio-details-slider swiper">
                      <div class="swiper-wrapper align-items-center">

                        {% for artwork in artworks %}
                        <div class="swiper-slide">
                          <img src="{{ artwork.image.url }}" alt="" style="height: 60vh; object-fit: contain;">
                          <h3 class="article-title" style="text-align: center;"> {{ artwork.description }} </h3>
                        </div>
                        {% endfor %}
                      </div>
                      <div class="swiper-pagination"></div>
                    </div>

                      
                  </div>
                </section><!-- End Portfolio Details Section -->
              </div>
              {% endfor %}
            </div>
      
          </div>
        </div>
      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>paulayihawu.art</strong>. All Rights Reserved</p>
            <div class="credits">
              Designed by <a href="#">Ohieku Eneji</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>